.App {
	overflow: hidden;
}

.App-content {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	color: white;
}

.result {
	flex: 1 0 auto;
	max-width: 50%;
	margin: 2.5rem 0 5rem 0;
	padding: 1.5rem;
	background: none;
	border: 1px solid #fff;
	border-radius: 1rem;
	font-size: 26px;

}

@media (max-width: 960px) {
	.result {
		max-width: 100%;
	}
}

@media (max-width: 768px) {
	.result__item {
		flex-direction: column;
		text-align: center;
	}

	.result__item p {
		width: 100%;
		white-space: nowrap;
	}

}

.result h2 {
	text-align: center;
}

.result__item {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}

.result__item:last-child {
	flex-direction: column;
}

.result__item p {
	width: 50%;
}

.item__info {
	color: red;
	margin-left: 1rem;
}

.meeting {
	display: flex;
	flex-direction: column;
}

.sub {
	margin: 5rem 0 0 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.commentary textarea {
	max-width: 500px;
	max-height: 300px;
}

.send {
	margin: 2rem 0;
	width: 10rem;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.5);
	border: none;
	color: #282c34;
	font-size: 20px;

	cursor: pointer;
}

.send:hover {
	color: green;
}

.clear {
	width: 5rem;
	padding: 2.5px;
	border-radius: 5px;
	border: none;
	color: #282c34;
	font-size: 15px;

	cursor: pointer;
}

.clear:hover {
	color: red;

}